$primary: #b14b4b;
$secondary: #4488be;
$tertiary: #b345b3;
$light: #f4f4f4;
$dark: #333;
// 定义颜色变量
$main-text-color: rgb(22, 78, 99);
$h-sreach:100vh;
$w-sreach:100vw;
:root{
    --el-menu-hover-bg-color: #8d4040;
}